<ion-header>
    <ion-toolbar>
        <ion-title>Настройки</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button auto-hide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div id="container">
        <ion-list>
            <ion-item lines="full">
                <ion-icon slot="start" name="moon"></ion-icon>
                <ion-label>
                    Тёмная тема
                </ion-label>
                <ion-toggle id="themeToggle" slot="end" (ionChange)="updateTheme($event)"></ion-toggle>
            </ion-item>
            <ion-item lines="full">
                <ion-icon slot="start" name="alert-circle-outline"></ion-icon>
                <ion-label>
                    Очистить хранилище
                </ion-label>
                <ion-button slot="end" color="danger" (click)="clearStorage()">Очистить</ion-button>
            </ion-item>
        </ion-list>
    </div>

</ion-content>
