<ion-app>

    <ion-menu side="end" type="push" contentId="mainContent" menuId="mainMenu">
        <ion-header>
            <ion-toolbar color="primary" translucent>
                <ion-title>Меню</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list *ngFor="let page of pages">
                <ion-menu-toggle auto-hide="true">
                    <ion-item (click)="gotoPage(page)">
                        <ion-icon [name]="page.icon" slot="start"></ion-icon>
                        <ion-label>{{ page.name }}</ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>

<!--    <ion-nav></ion-nav>-->

    <ion-content class="ion-padding" id="mainContent">
        <div class="ion-page">
            <ion-router-outlet></ion-router-outlet>
        </div>
    </ion-content>

</ion-app>
